@charset "utf-8";

:root {
    --app-dark-gray: #141414;
    --app-medium-gray: #2d2d2d;
    --app-white-color: #fff;
    --app-orange: #ff8800;
    --app-dimension: 65px;
    --app-border-radius: 5px;
    
}
  
/* ------------------------------ */
/*         General Rules          */
/* ------------------------------ */

body {
    font-family: 'Poppins', 'Open Sans', sans-serif;
    background-color: var(--app-dark-gray);
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

/* ------------------------------ */
/*         Shape Factory          */
/* ------------------------------ */

.flex {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

h1 {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--app-white-color);
    margin-bottom: 5px;
}

p {
    font-size: 12px;
    font-weight: 400;
    color: var(--app-white-color);
    letter-spacing: 0.4px;
    margin: 5px;
}

select {
    background-color: var(--app-medium-gray);
    color: var(--app-white-color);    
    font-size: 12px;
    height: 30px;
    width: 137px;
    border-radius: var(--app-border-radius);
    padding: 4px 0  6px  10px;
}

.create {
    font-size: 12px;
    height: 30px;
    width: 90px;
    background-color: var(--app-orange);
    color: var(--app-white-color);
    border-radius: var(--app-border-radius);
    cursor: pointer;
    transition: all 0.25s ease-in-out; 
}

.create:hover {
    color: var(--app-dark-gray);
}

.circle {
    width: var(--app-dimension);
    height: var(--app-dimension);
    border-radius: 50%;
    cursor: pointer;
}

.square {
    width: var(--app-dimension);
    height: var(--app-dimension);
    border-radius: var(--app-border-radius);
    cursor: pointer;
}

.container-options {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px; 
    gap: 10px;
}

.container-shapes {
    background-color: var(--app-medium-gray);
    width: 385px;
    height: 385px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: var(--app-border-radius);
    margin-top: 5px;
}

.shapes {
    display: flex;
    flex-wrap: wrap-reverse;
    gap:10px;
    margin: 10px; 
}